<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragment/layout}">

<head>
	<title>Main page</title>
</head>

<body>
	<div layout:fragment="content" class="container">

		<div class="jumbotron">
			<h1>Example</h1>
			<p>This example is a quick exercise to illustrate how the default content looks.
				It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
			<p>
				<a class="btn btn-lg btn-primary" href="/error" role="button">View error page
					&raquo;</a>
			</p>
		</div>
	</div>
</body>

</html>