<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- MDBootstrap -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link href="/lib/mdb-4.8.8/css/bootstrap.min.css" rel="stylesheet">
	<link href="/lib/mdb-4.8.8/css/mdb.min.css" rel="stylesheet">

	<!-- Custom styles -->
	<link href="/css/style.css" rel="stylesheet">
</head>

<body>
	<!--header.html  that's here  -->
	<div th:replace="header :: header"></div>

	<div layout:fragment="content"></div>

	<!--footer.html  that's here  -->
	<div th:replace="footer :: footer"></div>

	<!-- MDBootstrap -->
	<script type="text/javascript" src="/lib/mdb-4.8.8/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/lib/mdb-4.8.8/js/popper.min.js"></script>
	<script type="text/javascript" src="/lib/mdb-4.8.8/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/lib/mdb-4.8.8/js/mdb.min.js"></script>

	<script type="text/javascript" src="/lib/angular.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</body>

</html>